{% extends 'basic.html' %}


{% block headTitle %} Добавить категорию для товаров {% endblock headTitle %}


{% block bodyAttr %}
    data-menu-color="dark"
    data-sidebar="default"
{% endblock bodyAttr %}


{% block beginPage %}
    <div class="content">

        <!-- Start Content-->
        <div class="container-xxl">

            <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
                <div class="flex-grow-1">
                    <h4 class="fs-18 fw-semibold m-0"> Добавить категорию для товаров </h4>
                </div>

                <div class="text-end">
                    <ol class="breadcrumb m-0 py-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('products.main') }}"> Товары </a></li>
                        <li class="breadcrumb-item"><a href="{{ url_for('products.product_categories') }}"> Категории </a></li>
                        <li class="breadcrumb-item active"> Добавить категорию </li>
                    </ol>
                </div>
            </div>

            <!-- start row -->
            <div class="row d-flex align-items-center justify-content-center">

                <div class="col-lg-6">
                    <div class="card">

                        <div class="card-body">
                            <form method="post" action="{{ url_for('products.product_category_form', category_id=category_id) }}" class="my-4">
                                {{ form.csrf_token }}

                                <div class="mb-3">
                                    <label for="name" class="form-label">Название категории</label>
                                    {{ form.name(class='form-control', placeholder="Введите название категории") }}
                                </div>

                                <div class="form-submitBtns">
                                    <a href="{{ url_for('products.product_categories') }}">
                                        <button type="button" class="btn btn-primary"> Вернуться </button>
                                    </a>
                                    <button type="submit" class="btn btn-success"> Сохранить </button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

            </div>
            <!-- end row -->

        </div> 
        <!-- container-fluid -->
    </div>
{% endblock beginPage %}
